.navbar {
    background-color: #1f2523;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Giữ search bên phải */
    align-items: center;
    color: #d3d3d3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-brand-section {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #d3d3d3 !important;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px; 
}

.nav-links a {
    color: #d3d3d3;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: white;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-container button {
    padding: 5px 10px;
    background-color: #28a745;
    border: none;
    border-radius: 0 4px 4px 0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #218838;
}